:root {
  --cor-c1: #ffffff;
  --cor-c2: #f7f7f7;
  --cor-c3: #ededed;
  --cor-c4: #dedede;
  --cor-c5: #cccccc;
  --cor-c6: #b2b2b2;
  --cor-c7: #9c9c9c;
  --cor-c8: #717171;
  --cor-c9: #595959;
  --cor-c10: #2e2e2e;
  --cor-c11: #111111;
  --cor-c12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}
