.intro {
  background-color: var(--cor-c12);
  color: var(--cor-c1);
  box-shadow: inset 0 -120px var(--cor-c1);
}

.intro__container img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.intro__conteudo {
  align-self: flex-end;
  padding-bottom: 200px;
}

.intro__container h1 {
  margin-bottom: 32px;
}

.intro__container h1 span {
  color: var(--cor-p1);
}

.intro__container p {
  margin-bottom: 20px;
  color: var(--cor-c6);
}

@media (max-width: 800px) {
  .intro {
    background: var(--cor-c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-c1);
  }
  .intro__container {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro__container h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .intro__conteudo {
    padding-bottom: 0px;
  }
  .intro__container img {
    height: 300px;
    width: 100%;
  }
}
